.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
  }
  
  .product {
    box-sizing: border-box;
    border: #dddddd 2px solid;
    background: #f5f5ff;
    color: black;
    position: relative;
    border-radius: 0.8em;
    padding-top: 1em;
    transition: all 0.4s ease;
    width: 290px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .product-image img {
    user-select: none;
    padding: 5px 0;
    height: 230px;
  }
  
  .product-image {
    text-align: center;
    height: 100%;
    pointer-events: none;
    transition: transform 0.4s ease;
  }
  
  .product-content {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 0 0 1.2em 1.2em;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease;
  }

  .product-content h3{
    font-weight: 500;
  }

  .product-price{
    margin: 0;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  .product:hover,
  .brand-logo:hover {
    border: var(--secondary-color) 2px solid;
    cursor: pointer;
    box-shadow: 22px 24px 29px -25px rgba(0, 0, 0, 0.35);
  }
  
  .product:hover{
    transform: scale(1.02);
  }
  
  .product:hover .product-image {
    transform: scale(1.05);
  }

  .buy-btn {
    align-items: center;
    padding: 10px 15px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .buy-btn span{
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 300ms;
  }

  .buy-btn:hover {
    transform: scale(1.03);
  }

  .buy-btn:active{
    transform: scale(0.96);
  }

  .container-tags{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }