.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 35px;
  }
  
  .product {
    box-sizing: border-box;
    border: #dddddd 2px solid;
    background: #f5f5ff;
    color: black;
    position: relative;
    border-radius: 0.8em;
    padding-top: 1em;
    width: 290px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s ease;
  }
  
  .product-image img {
    user-select: none;
    padding: 5px 0;
    height: 230px;
    max-width: 90%;
    object-fit: contain;
  }
  
  .product-image {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100%;
    cursor: pointer;
    transition: transform 0.2s ease;
    overflow: hidden;

  }
  
  .product-content {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 0 0 1.2em 1.2em;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
  }

  .product-content h3{
    cursor: pointer;
    font-weight: 500;
  }

  .product-price{
    margin: 0;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  .product:hover,
  .brand-logo:hover {
    border: var(--secondary-color) 2px solid;
    box-shadow: 22px 24px 29px -25px rgba(0, 0, 0, 0.35);
  }
  
  .product:hover{
    transform: scale(1.02);
  }
  
  .product:hover .product-image {
    transform: scale(1.05);
  }

  .product-tools{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 10px;
    align-items: center;
  }

  .buy-btn {
    align-items: center;
    padding: 10px 15px;
    border: var(--primary-color) 1px solid;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: 400ms;
  }
  
  .buy-btn span{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1em;
    transition: 300ms;
  }

  .buy-btn:hover {
    background-color: var(--primary-color);
    transform: scale(1.03);
  }
  
  .buy-btn:hover span{
    color: white;
  }

  .buy-btn:active{
    transform: scale(0.96);
  }

  .container-tags{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .add-favorite input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .add-favorite {
    display: block;
    text-align: center;
    text-align: -webkit-center;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: 100ms;
  }
  
  .checkmark {
    top: 0;
    left: 0;
    height: 1.5em;
    width: 1.5em;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
  }
  
  .add-favorite input:checked ~ .checkmark path {
    fill: var(--primary-color);
    stroke-width: 0;
  }
  
  .add-favorite input:checked ~ .checkmark {
    animation: like_effect 400ms ease;
  }
  
  .add-favorite:hover {
    transform: scale(1.1);
  }
  
  @keyframes like_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes dislike_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }

  .notification-favorites {
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 20px;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3s ease-in-out;
  }

  .msg-favorites-check{
    background-color: #007bff;
  }

  .msg-favorites-error{
    background-color: #b73737;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
  
    10% {
      opacity: 1;
      transform: translateY(0);
    }
  
    90% {
      opacity: 1;
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }