:root {
    --primary-color: #008ecc;
    --secondary-color: #14a8e8;
    --inactive-color: #8e8e8e;
    --font-serif: sans-serif, Arial;
  }
  
  body {
    font-family: var(--font-serif);
    margin: 0;
    padding: 0;
  }
  
  .header-top {
    height: auto;
    background-color: #f8f8f8;
    padding: 10px;
    padding-left: 50px;
    text-align: center;
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .header-top ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .header-top p {
    float: left;
  }
  .header-top a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
  }
  .header-top li {
    margin-top: 10px;
    list-style: none;
    display: block;
    color: #008ecc;
  }
  .header-all header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-all {
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
  }
  
  .header-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .header-main h1 {
    margin: 0;
    font-size: 24px;
    color: #008ecc;
  }
  
  .checkbtn {
    font-size: 30px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  .header-main form {
    flex-grow: 1;
    margin: 0 20px;
  }
  .header-main input[type="text"] {
    background-color: #F3F9FB;
    width: 80%;
    padding: 12px 8px;
    border: none;
    outline:none;
    border-radius: 10px;
  }
  
  .actions {
    width: inherit;
    display: flex;
    justify-content: center;
  }
  
  .header-main .actions a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  #search-input {
    padding-left: 35px;
  }
  nav {
    margin: 10px auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    width: clamp(400px, 90%, 900px);
    border-color: #f0f0f0;
    background-color: #ffffff90;
    backdrop-filter: blur(12px);
    padding: 10px 0;
  }
  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition-duration: 0ms;
  }
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  nav a {
    display: block;
    padding: 10px 15px;
    background-color: #e0f1f7;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
  }
  nav a:hover {
    background-color: var(--secondary-color);
    color: #fff;
  }

  #categorias{
    background-color: var(--secondary-color);
    color: #fff;
  }

  @media (max-width: 952px) {
    .header-top {
      display: none;
    }
  
    .header-top,
    .header-main {
      justify-content: center;
    }
  
    .header-all header{
      background-color: #ffffff75;
    backdrop-filter: blur(8px);
    }
  
    .checkbtn {
      left: 0;
      color: #008ecc;
      display: contents;
    }
  
    .header-main {
      left: 0;
    }
  
    .header-main h1{
      display: block;
      width: 100%;
    }
  
    nav{
      border-style: none;
      background-color: rgba(255, 255, 255, 0);
      backdrop-filter: none;
      margin: 0;
      padding: 0; 
    }
  
    nav ul {
      display: block;
      position: fixed;
      width: 100%;
      height: 100vh;
      background: var(--primary-color);
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
    nav ul li {
      display: block;
      margin: 10px 0;
      line-height: 30px;
    }
    nav ul li a {
      padding: 20px;
      color: #fff;
      background-color: var(--primary-color);
      font-size: 20px;
    }
    li a:hover,
    li a.active {
      background: none;
      border-radius: 0;
      background-color: rgba(6, 109, 177, 0.647);
    }
    #check:checked ~ ul {
      left: 0%;
    }
  
    header h2{
      font-size: 19px;
    }
  
  }
  
  .fa-store,
  .fa-location-dot,
  .fa-user,
  .fa-cart-shopping, .fa-search, .f {
    color: #008ecc;
  }
  .fa-search {
    position: absolute;
    transform: translate(10px, 11px);
  }
  .f {
    position: absolute;
    transform: translate(-25px, 11px);
  }
  footer {
    background-color: #008ecc;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto; /* Centrar horizontalmente */
  }
  .footer-container ul {
    list-style-type: none;
  }
  .footer-section {
    flex: 1;
    text-align: left; /* Alinear texto a la izquierda */
    margin: 0 10px; /* Añadir margen izquierdo y derecho */
  }
  
  .footer-section h2 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li i {
    margin-right: 5px;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }

  /*Aside*/

  .filter{
    justify-content: center;
  }

  .dropdown {
    width: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.dropdown-title {
    background-color: #008ecc;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.dropdown-content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    position: relative;
}

.dropdown-content input {
    display: none;
}

.dropdown-content label {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #f1f1f1;
}

.dropdown-content .submenu {
    display: none;
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-radius: 10px; */
    min-width: 150px;
}

.dropdown-content .submenu li a {
    padding: 10px 15px;
    display: block;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.dropdown-content .submenu li a:hover {
    background-color: #f1f1f1;
}

.dropdown-content input:checked + label + .submenu {
    display: block;
}

  /*Catálogo*/
  main{
    margin-top: 200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .catalog{
    height:auto;
  }

  .catalog{
    margin: 20px 0;
    width: 60%;
  }
  
  .catalog header {
    display: flex;
    color: #666666;
    justify-content: space-between;
  }
  
  .important {
    color: var(--primary-color);
  }
  
  .line {
    background-color: var(--primary-color);
    width: 180px;
    height: 4px;
    margin-bottom: 20px;
  }
  
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 60px;
  }
  
  .product {
    box-sizing: border-box;
    border: var(--primary-color);
    background: #f5f5ff;
    color: black;
    position: relative;
    border-radius: 1.2em;
    padding-top: 1em;
    transition: all 0.4s ease;
  }
  
  .product-image img {
    user-select: none;
    width: 40%;
  }
  
  .product-image {
    display: grid;
    place-items: center;
    pointer-events: none;
    transition: transform 0.4s ease;
  }
  
  .product-content {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 0 0 1.2em 1.2em;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease;
  }
  
  .product:hover,
  .brand-logo:hover {
    border: var(--primary-color) 1.5px solid;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 22px 24px 29px -25px rgba(0, 0, 0, 0.35);
  }
  
  .product-content .minimize {
    transition: transform 0.4s ease;
  }
  
  .product:hover .product-content .minimize {
    transform: scale(0.97);
  }
  
  .product:hover .product-image {
    transform: scale(1.05);
  }

  .buy-btn {
    align-items: center;
    padding: 10px 15px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 400ms;
  }
  
  .buy-btn span{
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 300ms;
  }

  .buy-btn:hover {
    transform: scale(1.03);
  }

  .buy-btn:active{
    transform: scale(0.96);
  }
