:root{
    --primary-color: #008ECC;
    --secondary-color: #14a8e8;
    --inactive-color:#8e8e8e;
    --font-roboto: 'Roboto', sans-serif;
    --font-ubuntu: 'Ubuntu', sans-serif;
}

html, body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #008ECC;
}

main{
    height: inherit;
    width: 100%;
    display: flex;
    gap: 40px;
    /* margin: auto; */
    justify-content: center; 
    flex-wrap: wrap;
}

*{
    box-sizing: border-box;
    font-family: var(--font-ubuntu);
    font-size: 18px;
}

h1{
    color: var(--primary-color);
}

.form-container{
    background-color: #fff;
    margin: auto 0;
    padding: 40px;
    border-radius: 20px;
    max-width: 450px;
    min-width: 320px;
    box-shadow: 24px 24px 30px -9px rgba(0,0,0,0.34);
}

.form-item{
    position: relative;
    padding-top: 25px;
} 

.form-label{
    color: #c0c0c0;
    position: absolute;
    cursor: pointer;
    top: 41px;
    left: 45px;
    transition: transform .3s, color .3s;
}

.double {
    display: flex;
    width: 100%;
    gap: 6px;
  }

.form-input{
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px 20px;
    padding-left: 40px;
    margin: 5px 0;
    border: 2px solid var(--inactive-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.5s;
}

.form-input:focus ~ .fa-solid{
    color: var(--primary-color);
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translate(-30px,-35px) scale(.85);
    transform-origin: left top;
    color: var(--primary-color);  
}

.form-input:focus{
    border:2px solid var(--primary-color);
}

.fa-solid{
    color: var(--inactive-color);
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.form-container h1{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.form-btn{
    display:block;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    transition: all 0.2s;
    width: 100%;
}

.warning{
    color: #9e566d;
    text-align: center;
}

footer{
    color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.form-btn:hover{
    background-color: #096c96;
    transform: scale(1.05);
}

.warning{
    max-width: 300px;
    min-width: 200px;
}

.message p{
    text-align: center;
    color: #4b4b4b;
}

.message a{
    color: var(--primary-color);
}

.redes-container{
    border-radius: 20px;
    background-color: #fff;
    margin: auto 0;
    text-align: center;
    padding: 40px;
    box-shadow: 24px 24px 30px -9px rgba(0,0,0,0.34);
}

.flex-row{
    display: flex;
    gap: 10px;
}

.btn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .btn:hover {
    border: 1px solid #2d79f3;
    transform: scale(1.02);
  }

  .separator {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    color: var(--inactive-color);
    margin: 0 10px;
  }
  
  .separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #979797;
    margin: auto;
  }