footer {
    background-color: var(--primary-color);
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
  }
  .footer-container ul {
    list-style-type: none;
  }
  .footer-section {
    flex: 1;
    text-align: left;
    margin: 0 10px;
  }
  
  .footer-section h2 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li i {
    margin-right: 5px;
  }
  
  .footer-bottom {
    margin-top: 20px;
  }