.cart-container {
    max-width: 400px;
    max-height: 400px;
    overflow: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-container span{
    text-align: right;
    color: var(--primary-color);
    padding-bottom: 5px;
    border-bottom: 1px #e3f2ff solid;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    position: relative;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.cart-item-details h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    padding-right: 40px;
}

.cart-item-details h4{
    margin: 0;
    font-weight: 500;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-quantity button {
    background-color: #e6f2ff;
    color: var(--primary-color);
    font-size: 1.5em;
    border: none;
    padding: 1px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.cart-item-quantity button:hover {
    background-color: #cfe3f9;
}

.cart-item-remove {
    background-color: #ff4d4f;
    font-size: 1.5em;
    color: #fff;
    border: none;
    padding: 1px 10px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s;
}

.cart-item-remove:hover {
    background-color: #d9363e;
}

.btn-go-cart{
    padding: 15px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}