
.body {
  margin: 0;
  padding: 0;
  margin-bottom: 280px;
  margin-top: 115px;
}

.body main {
  padding: 2% 10%;
}

.active{
  background-color: var(--primary-color);
  color: #fff;
}

.header-top {
    background-color: #f8f8f8;
    padding-left: 50px;
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all .2s;
  }

  .fixed {
    transform:translateY(-45px);
}
  
.header-main .nav-toggle{
  display: flex;
  gap: 15px;
}
  .header-top ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .header-top p {
    float: left;
  }
  .header-top a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
  }
  .header-top li {
    list-style: none;
    display: block;
    color: #008ecc;
  }
  .header-all header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-all {
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    transition: all .2s;
  }
  
  .header-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .header-main h1 {
    display: flex;
    margin: 0;
    font-size: 24px;
    color: #008ecc;
  }
  
  .checkbtn {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  .imgLogo{
    display: block;
    margin: 0 auto;
  }

  .imgLogo img{
    width: 110px;
  }

  .header-main input[type="text"] {
    background-color: #F3F9FB;
    width: 80%;
    padding: 12px 8px;
    border: none;
    outline:none;
    border-radius: 10px;
  }

  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    font-size: 1em;
    border: 1px solid #d1d5db;
    padding: 0.75rem 1.25rem;
    border-radius: 0.75rem;
    width: 18rem;
    transition: border-width 0.3s, width 0.3s;
    outline: none;
  }
  
  .search-input:focus {
    border-width: 2px;
    border-color: var(--primary-color);
    width: 22rem;
  }
  
  .search-icon {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    color: #6b7280;
  }  

  .nav-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-200px);
    z-index: -1;
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  .nav-menu.open {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  

  nav {
    margin: 10px auto;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    border-color: #f0f0f0;
    background-color: #ffffff20;
    backdrop-filter: blur(12px);
    padding: 10px 0;
  }
  nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  nav a {
    display: block;
    padding: 10px 15px;
    background-color: #e4f1ff;
    color: rgb(78, 78, 78);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 20px;
    transition: background-color 0.2s ease-in;
  }

  nav a:hover {
    background-color: var(--secondary-color);
    color: #fff;
  }
  
  .fa-search {
    position: absolute;
    transform: translate(10px, 11px);
  }
  .f {
    position: absolute;
    transform: translate(-25px, 11px);
  }

  
  @media (max-width: 952px) {
    .header-top {
      display: none;
    }
  
    .header-top,
    .header-main {
      justify-content: center;
    }
  
    .header-all header {
      background-color: #ffffff75;
      backdrop-filter: blur(8px);
    }
  
    .checkbtn {
      left: 0;
      color: #008ecc;
      display: contents;
    }

    .fa-bars {
        padding-right: 15px;
    }
  
    .header-main {
      left: 0;
    }
  
    .header-main h1 {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .search-input:focus {
      border-width: 2px;
      border-color: var(--primary-color);
      width: 20rem;
    }

    .header-main .nav-toggle {
      display: none;
    }
    
    .nav-menu {
      position: fixed;
      left: -100%;
      width: 100%;
      height: 100vh;
      background: var(--primary-color);
      transition: all 0.3s ease-in-out; 
      display: flex;
      border-radius: 0;
      align-items: center;
      transform: none;
    }

    .nav-menu.open {
      transform: translateX(100%);
    }

    nav {
      border-style: none;
      background-color: rgba(255, 255, 255, 0);
      backdrop-filter: none;
      margin: 0;
      padding: 0;
    }
  
    nav ul {
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    nav ul li {
      width: 80%;
      text-align: center;
      margin: 10px 0;
      line-height: 30px;
    }

    nav ul li a {
      padding: 20px;
      color: #fff;
      background-color: var(--primary-color);
      font-size: 20px;
    }

    li a:hover,
    .active {
      background: none;
      border-radius: 0;
      background-color: rgba(6, 109, 177, 0.647);
    }

    header h2 {
      font-size: 19px;
    }
}

.user-icon {
  background: #e6f2ff;
  border: none;
  color: var(--primary-color);
  font-weight:500;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.actions-container {
  position: relative;
}

.actions {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  padding: 10px;
  width: 200px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.action-item {
  display: flex;
  background-color: #d9ebff;
  font-size: 1em;
  font-weight: 500;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--primary-color);
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
  border: 0;
}

.actions .action-item{
  margin: 3px 0;
}

.action-item:hover{
  background: #c1dbf6;
}

.action-item i{
  margin-left: 8px;
}

.actions .action-item i {
  margin-right: 8px;
}

.cart-menu {
  position: relative;
  display: flex;
}

.cart-icon {
  background-color: #e6f2ff;
  border: none;
  color: var(--primary-color);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.cart-icon i {
  margin-left: 0.5rem;
  margin-right: 0.3rem;

}

.cart-dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #e6f2ff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 320px;
  z-index: 1;
}

.cart-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-dropdown li {
  margin-bottom: 0.5rem;
}

.user-bar{
  display: flex;
  gap: 10px;
  font-weight: 500;
}