.card-loader-container {
    width: 290px;
    padding: 1rem 0;
    text-align: center;
    border-radius: .8rem;
    background-color: white;
}

.card_loader {
    background-image: linear-gradient(90deg,
            #ccc 0px,
            rgb(229 229 229 / 90%) 40px,
            #ccc 80px);
    background-size: 300%;
    background-position: 100% 0;
    border-radius: inherit;
    animation: shimmer 1.5s infinite;
}

.card_title {
    height: 25px;
    margin-top: 15px;
}

.min {
    height: 30px;
    width: 100px;
}

.card_image {
    height: 290px;

}

@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}